<img src="https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true" width="240" height="360" />

# ASSIGNMENT
# LOGISTIC REGRESSION


##  Bank Marketing


**Abstract:** 
The data is related with __direct marketing campaigns__ (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe a __term deposit (variable y)__.

**Data Set Information:**
The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the __product (bank term deposit)__ would be __('yes')__ or __('no')__ subscribed. 

###  Source:

 - Dataset from : http://archive.ics.uci.edu/ml/datasets/Bank+Marketing#

### Import the dataset

In [1]:
import pandas as pd
bank = pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-2/master/Data/bank.csv')
bank.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,46,blue-collar,married,basic.9y,no,no,yes,telephone,may,tue,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,29,admin.,single,university.degree,no,no,no,cellular,may,wed,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.281,5099.1,no
2,50,management,married,university.degree,no,yes,yes,cellular,apr,fri,...,1,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
3,31,admin.,married,high.school,unknown,yes,no,telephone,may,thu,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
4,32,admin.,single,high.school,no,yes,no,cellular,jun,tue,...,1,999,0,nonexistent,-2.9,92.963,-40.8,1.262,5076.2,yes

### Check the columns present in the dataset

In [2]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

### Check the shape of Dataset

In [3]:
bank.shape

(10297, 21)

### Check the descriptive statistics of the dataset

In [4]:
bank.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000
mean,40.080606,261.388268,2.561134,963.609692,0.171506,0.077256,93.574206,-40.445780,3.621923,5166.850442
std,10.472190,263.722874,2.827084,184.098592,0.496992,1.576732,0.577502,4.622221,1.734170,72.492914
min,18.000000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.000000,103.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.000000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.000000,327.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,94.000000,3643.000000,56.000000,999.000000,6.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

### Check the info of the dataset

In [5]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10297 entries, 0 to 10296
Data columns (total 21 columns):
age               10297 non-null int64
job               10297 non-null object
marital           10297 non-null object
education         10297 non-null object
default           10297 non-null object
housing           10297 non-null object
loan              10297 non-null object
contact           10297 non-null object
month             10297 non-null object
day_of_week       10297 non-null object
duration          10297 non-null int64
campaign          10297 non-null int64
pdays             10297 non-null int64
previous          10297 non-null int64
poutcome          10297 non-null object
emp.var.rate      10297 non-null float64
cons.price.idx    10297 non-null float64
cons.conf.idx     10297 non-null float64
euribor3m         10297 non-null float64
nr.employed       10297 non-null float64
y                 10297 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 1.6+ MB

### Q 1. Write a code to understand the below mentioned variables and print their 'unique' attributes.
``` ['job', 'marital', 'education', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'campaign','poutcome', 'pdays', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m'] ```

In [6]:
def log():
    print('Job have these unique values:',bank['job'].unique())
    print('Marital have these unique values:',bank['marital'].unique())
    print('Education have these unique values:',bank['education'].unique())
    print('Housing have these unique values:',bank['housing'].unique())
    print('Loan have these unique values:',bank['loan'].unique())
    print('Default have these unique values:',bank['default'].unique())
    print('Contact have these unique values:',bank['contact'].unique())
    print('Month have these unique values:',bank['month'].unique())
    print('Day_of_week have these unique values:',bank['day_of_week'].unique())
    print('Campaign have these unique values:',bank['campaign'].unique())
    print('Poutcome have these unique values:',bank['poutcome'].unique())
    print('Pdays have these unique values:',bank['pdays'].unique())
    print('emp.var.rate have these unique values:',bank['emp.var.rate'].unique())
    print('cons.price.idx have these unique values:',bank['cons.price.idx'].unique())
    print('cons.conf.idx have these unique values:',bank['cons.conf.idx'].unique())
    print('euribor3m have these unique values:',bank['euribor3m'].unique())
log()

Job have these unique values: ['blue-collar' 'admin.' 'management' 'technician' 'retired' 'services'
 'entrepreneur' 'self-employed' 'unemployed' 'student' 'housemaid'
 'unknown']
Marital have these unique values: ['married' 'single' 'divorced' 'unknown']
Education have these unique values: ['basic.9y' 'university.degree' 'high.school' 'professional.course'
 'basic.6y' 'basic.4y' 'unknown' 'illiterate']
Housing have these unique values: ['no' 'yes' 'unknown']
Loan have these unique values: ['yes' 'no' 'unknown']
Default have these unique values: ['no' 'unknown']
Contact have these unique values: ['telephone' 'cellular']
Month have these unique values: ['may' 'apr' 'jun' 'aug' 'jul' 'oct' 'nov' 'dec' 'sep' 'mar']
Day_of_week have these unique values: ['tue' 'wed' 'fri' 'thu' 'mon']
Campaign have these unique values: [ 3  2  1  4  5  6 14  7 21  9 12  8 17 10 20 33 29 15 23 11 18 13 19 39
 27 16 31 34 26 28 24 32 22 56 25 40]
Poutcome have these unique values: ['nonexistent' 'failure' 'success']
Pdays have these unique values: [999   6   9   2  16   3   7   4  12  13   0   1   5  11  26  10   8  14
  15  20  18  17]
emp.var.rate have these unique values: [ 1.1 -1.8 -2.9  1.4 -3.4 -1.7 -0.1 -3.  -1.1]
cons.price.idx have these unique values: [93.994 92.893 93.075 92.963 93.444 94.465 93.749 93.918 92.431 94.215
 94.027 93.2   92.649 92.713 94.199 92.843 92.201 93.876 92.379 93.369
 93.798 94.601 94.055 94.767 92.469]
cons.conf.idx have these unique values: [-36.4 -46.2 -47.1 -40.8 -36.1 -41.8 -34.6 -42.7 -26.9 -40.3 -38.3 -42.
 -30.1 -33.  -37.5 -50.  -31.4 -40.  -29.8 -34.8 -40.4 -49.5 -39.8 -50.8
 -33.6]
euribor3m have these unique values: [4.857 1.281 1.405 4.86  1.262 4.963 4.959 1.313 4.967 0.663 1.299 4.966
 4.958 1.25  4.96  4.856 4.961 0.728 0.899 4.858 4.964 4.855 4.866 4.864
 1.365 1.354 4.962 4.968 1.244 0.904 1.264 4.021 1.453 1.334 4.076 4.957
 1.266 0.72  4.191 4.153 0.896 4.859 4.965 1.26  1.291 1.215 4.12  4.865
 1.41  0.715 1.445 1.286 0.714 1.344 0.893 1.327 0.879 1.757 1.27  4.97
 1.268 0.835 0.645 0.699 0.854 0.849 0.781 0.73  1.423 0.773 0.635 0.643
 1.415 1.483 0.88  0.881 4.947 1.799 0.89  0.877 0.797 0.884 0.724 0.84
 0.744 0.638 0.695 0.75  0.639 0.821 0.77  0.843 1.372 0.905 0.861 4.918
 0.803 0.682 0.737 0.873 0.869 4.955 0.838 1.259 0.819 0.802 0.652 0.829
 1.    0.987 0.9   0.732 0.851 0.729 1.05  0.642 0.719 1.556 0.883 0.731
 4.921 0.741 0.716 1.028 4.956 0.782 0.876 0.889 1.479 0.697 0.788 0.885
 1.52  0.898 0.713 0.692 0.878 0.74  0.761 0.822 0.701 0.739 0.809 1.029
 1.041 0.834 1.466 1.726 1.072 0.706 1.048 0.655 0.702 0.825 0.959 0.637
 1.392 0.707 0.977 4.912 1.085 1.435 0.722 1.206 1.235 1.498 0.688 1.406
 0.846 0.71  0.634 0.754 0.712 1.629 0.668 1.043 0.748 0.813 4.936 0.753
 0.733 4.733 1.538 0.636 1.614 0.903 0.65  1.703 1.687 0.886 0.723 0.742
 0.87  3.901 1.03  1.811 0.755 0.859 4.406 1.044 0.767 1.252 0.778 0.646
 0.708 1.4   0.768 0.653 1.531 1.032 0.762 0.651 0.743 1.025 0.654 1.008
 0.965 0.749 0.827 4.7   0.882 0.718 1.602 0.972 1.059 1.663 1.04  1.099
 0.685 1.031 0.644 0.683 0.891 0.659 0.735 1.64  1.037 1.046 4.592 0.717
 0.677 1.51  5.045 1.016 0.953 0.81  0.727 0.993 4.794 0.982 0.709 3.853
 0.672 1.039 1.778 0.649 4.827 0.793 4.663 0.79  1.548 0.64  1.65  0.69
 4.76  0.766 0.895 0.914 1.018 0.704 0.985 1.049 4.286 0.908 0.937 0.888
 0.684 0.7   4.245 0.771 1.224 4.474]

### Q 2. Write a code to check the min and max value of age. Also check if there is any null value or not.

In [7]:
def log():
    print('Max age: ', bank['age'].max())
    print('Min age: ', bank['age'].min())
    print('Missing values: ', bank.isnull().any())
log()

Max age:  94
Min age:  18
Missing values:  age               False
job               False
marital           False
education         False
default           False
housing           False
loan              False
contact           False
month             False
day_of_week       False
duration          False
campaign          False
pdays             False
previous          False
poutcome          False
emp.var.rate      False
cons.price.idx    False
cons.conf.idx     False
euribor3m         False
nr.employed       False
y                 False
dtype: bool

### Count of Yes and No for the term deposit

In [8]:
bank.y.value_counts()

no     9137
yes    1160
Name: y, dtype: int64

### Q 3. Write a user defined function to calculate the Inter quartile range for quantile values outside 25 to 75 range. And do the outlier capping for lower level with min value and for upper level with 'q3=1.5*iqr' value.

In [9]:
def remove_outlier(df_in, col_name):
    q1 = df_in[col_name].quantile(0.25)
    q3 = df_in[col_name].quantile(0.75)
    iqr = q3-q1 
    lower_bound = df_in[col_name].min()
    upper_bound = q3+1.5*iqr
    print('Column',col_name,'IQR lower bound and upper bound are', lower_bound, 'and', upper_bound, 'respectively')
    df_out = df_in.loc[(df_in[col_name] > lower_bound) & (df_in[col_name] < upper_bound)]
    return df_out

### Q 3.1 Using the above created function , remove the outlier from 'age' variables:

In [10]:
def log(bank):
    return remove_outlier(bank, 'age')
bank = log(bank)

Column age IQR lower bound and upper bound are 18 and 69.5 respectively

### Q 3.2 Using the above created function , remove the outlier from 'campaign' variables:

In [11]:
def log(bank):
    return remove_outlier(bank, 'campaign')
bank = log(bank)

Column campaign IQR lower bound and upper bound are 1 and 6.0 respectively

### Q 3.3 Using the above created function , remove the outlier from 'duration' variables:

In [12]:
def log(bank):
    return remove_outlier(bank, 'duration')
bank = log(bank)

Column duration IQR lower bound and upper bound are 0 and 684.0 respectively

### Dividing dataset into two, on the basis of categorical and numerical.

In [13]:
bank_cat=bank[['job', 'marital','default', 'education', 'loan', 'housing', 'contact', 'month', 'day_of_week', 'poutcome', 'y']]

In [14]:
bank_cont = bank.drop(['job', 'marital','default', 'education', 'loan', 'housing', 'contact', 'month', 'day_of_week', 'poutcome', 'y'], axis=1)

### Q 4. Label encode the below mentioned categorical variable to numerical values.
``` ['job', 'marital','default','education', 'loan', 'housing', 'contact', 'month', 'day_of_week', 'poutcome', 'y'] ```

In [15]:
def log(bank_cat):
    from sklearn.preprocessing import LabelEncoder
    return bank_cat.apply(LabelEncoder().fit_transform)
bank_cat = log(bank_cat)

### Combining the numerical and categorical dataset.

In [16]:
bank_final= pd.concat([bank_cont, bank_cat], axis = 1)

### Q 6. Extract the independent columns to prepare X

In [17]:
X = pd.DataFrame()
def log():
    X = bank_final.loc[:,bank.columns != 'y']
    return X
X = log()

In [18]:
X.head()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,job,marital,default,education,loan,housing,contact,month,day_of_week,poutcome
0,46,329,3,999,0,1.1,93.994,-36.4,4.857,5191.0,1,1,0,2,2,0,1,6,3,1
1,29,132,2,999,0,-1.8,92.893,-46.2,1.281,5099.1,0,2,0,6,0,0,0,6,4,1
3,31,199,2,999,0,1.1,93.994,-36.4,4.860,5191.0,0,1,1,3,0,2,1,6,2,1
5,33,174,4,999,0,1.4,93.444,-36.1,4.963,5228.1,0,2,0,6,2,2,0,1,1,1
8,34,65,2,999,1,-1.8,92.893,-46.2,1.281,5099.1,1,1,1,5,0,0,0,6,4,0

### Q 7. Extract dependent column into a dataframe 'y' for model prediction

In [19]:
y = pd.DataFrame()
def log():
    y = bank_final.loc[:,bank_final.columns == 'y']
    return y
y = log()

### Q 8. Splitting X and y into train and test dataset

In [20]:
from sklearn.cross_validation import train_test_split
def log():
    return train_test_split(X, y, test_size=0.25, random_state=1) 
X_train, X_test, y_train, y_test = log()

F:\python\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

### Check the shape of X and y of train dataset.

In [21]:
def log():
    print(X_train.shape)
    print(y_train.shape)
log()

(3465, 20)
(3465, 1)

### Check the shape of X and y of test dataset.

In [22]:
def log():
    print(X_test.shape)
    print(y_test.shape)
log()

(1156, 20)
(1156, 1)

### Q 9. Instantitate Logistic Regression model using scikit-learn

In [23]:
from sklearn.linear_model import LogisticRegression
def log():
    logreg = LogisticRegression()
    return logreg
logreg = log()

### Q 10. Fit the logistic model on X_train and y_train

In [24]:
def log():
    logreg.fit(X_train,y_train)
log()

F:\python\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

### Q 11. Using the model for prediction

In [25]:
y_pred_train = pd.DataFrame()
def log():
    y_pred_train = logreg.predict(X_train)
    return y_pred_train
y_pred_train = log()

In [26]:
y_pred_test = pd.DataFrame()
def log():
    y_pred_test = logreg.predict(X_test)
    return y_pred_test
y_pred_test = log()

### Q 12. Model evaluation using accuracy classification score

In [27]:
from sklearn.metrics import accuracy_score
def log():
    print('Accuracy score for test data is:', accuracy_score(y_test,y_pred_test))
log()

Accuracy score for test data is: 0.9403114186851211

### Q 13. Model evaluation using Confusion matrix

In [28]:
from sklearn.metrics import confusion_matrix
confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test))
def log():
    confusion_matrix.index = ['Actual No_Deposit','Actual Deposit']
    confusion_matrix.columns = ['Predicted No_Deposit','Predicted Deposit']
    print(confusion_matrix)
log()

                   Predicted No_Deposit  Predicted Deposit
Actual No_Deposit                  1062                 14
Actual Deposit                       55                 25

### Q 14. Accuracy prediction setting the threshold = 0.75

In [29]:
import numpy as np
def log():
    preds1 = np.where(logreg.predict_proba(X_test)[:,1]> 0.75,1,0)
    print('Accuracy score for test data is:', accuracy_score(y_test,preds1))
log()

Accuracy score for test data is: 0.9403114186851211

### Q 15. Accuracy prediction setting the threshold = 0.25

In [30]:
def log():
    preds2 = np.where(logreg.predict_proba(X_test)[:,1]> 0.25,1,0)
    print('Accuracy score for test data is:', accuracy_score(y_test,preds2))
log()

Accuracy score for test data is: 0.9359861591695502