<img src="https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true" width="240" height="360" />

# ASSIGNMENT

###  This is a cars dataset having 156 observation and 16 different variables. You have to create a linear regression model using the provided predictor variables for the prediction of sales value of cars.

#### Note: Please run your code step by step as provided in the sheet or else you may face challenges with the code.

### Import the dataset.

In [1]:
import pandas as pd
car = pd.read_csv("https://raw.githubusercontent.com/insaid2018/Term-2/master/Data/car_sales.csv")
car.head()

,Manufacturer,Model,Sales_in_thousands,_year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140,101.2,67.3,172.4,2.639,13.2,28,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225,108.1,70.3,192.9,3.517,17.2,25,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,29.00,3.2,225,106.9,70.6,192.0,3.470,17.2,26,1/4/2012,90.345000
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210,114.6,71.4,196.6,3.850,18.0,22,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150,102.6,68.2,178.0,2.998,16.4,27,10/8/2011,62.777639

### Check the shape of the dataset.

In [2]:
def lr():
    return car.shape 
lr()

(156, 16)

### Check the descriptive stats of the dataset.

In [3]:
def lr():
    return car.describe()
lr()

,Sales_in_thousands,_year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
count,151.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,52.051742,18.063571,27.401071,3.060897,185.948718,107.487179,71.150000,187.343590,3.380462,17.951923,23.833333,77.128857
std,68.907116,10.076941,14.305863,1.044653,56.700321,7.641303,3.451872,13.431754,0.629200,3.887921,4.256052,25.084045
min,0.110000,5.160000,9.235000,1.000000,55.000000,92.600000,62.600000,149.400000,1.895000,10.300000,15.000000,23.276272
25%,13.630000,12.527500,18.081250,2.300000,149.500000,103.000000,68.400000,177.575000,2.973000,15.800000,21.000000,60.567577
50%,27.609000,17.617500,23.099500,3.000000,177.500000,107.000000,70.550000,187.900000,3.355000,17.200000,24.000000,72.160636
75%,65.905500,18.089731,31.938750,3.575000,215.000000,112.200000,73.425000,196.125000,3.788750,19.575000,26.000000,89.623790
max,540.561000,67.550000,85.500000,8.000000,450.000000,138.700000,79.900000,224.500000,5.572000,32.000000,45.000000,188.144323

### Q 1. Write a code to understand the total count and percentage of missing values.

In [4]:
def lr():
    # Count total missing and sort it 
    total = car.isnull().sum().sort_values(ascending=False)
    # Calculate percent 
    percent = (car.isnull().sum()/car.isnull().count()).sort_values(ascending=False)
    # concatenate total and percent 
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    # print missing data assigning a variable
    print (missing_data)
    miss = missing_data
    # return using your created variable
    return miss
lr()

                    Total   Percent
Sales_in_thousands      5  0.032051
Power_perf_factor       0  0.000000
Latest_Launch           0  0.000000
Fuel_efficiency         0  0.000000
Fuel_capacity           0  0.000000
Curb_weight             0  0.000000
Length                  0  0.000000
Width                   0  0.000000
Wheelbase               0  0.000000
Horsepower              0  0.000000
Engine_size             0  0.000000
Price_in_thousands      0  0.000000
Vehicle_type            0  0.000000
_year_resale_value      0  0.000000
Model                   0  0.000000
Manufacturer            0  0.000000

                    Total   Percent
Sales_in_thousands      5  0.032051
Power_perf_factor       0  0.000000
Latest_Launch           0  0.000000
Fuel_efficiency         0  0.000000
Fuel_capacity           0  0.000000
Curb_weight             0  0.000000
Length                  0  0.000000
Width                   0  0.000000
Wheelbase               0  0.000000
Horsepower              0  0.000000
Engine_size             0  0.000000
Price_in_thousands      0  0.000000
Vehicle_type            0  0.000000
_year_resale_value      0  0.000000
Model                   0  0.000000
Manufacturer            0  0.000000

### Q 2. Impute the missing value using "median" groupby Manufacturer.

In [5]:

def lr():
    # your code here to impute missing value using median and groupby
    car["Sales_in_thousands"].fillna(car.groupby("Manufacturer")["Sales_in_thousands"].transform("median"), inplace=True)
    return
lr()
print (car.isnull().sum())

Manufacturer          0
Model                 0
Sales_in_thousands    0
_year_resale_value    0
Vehicle_type          0
Price_in_thousands    0
Engine_size           0
Horsepower            0
Wheelbase             0
Width                 0
Length                0
Curb_weight           0
Fuel_capacity         0
Fuel_efficiency       0
Latest_Launch         0
Power_perf_factor     0
dtype: int64

### Q 3. Create a dummy variable for "Vehicle_type"  and  drop the original variable.

In [6]:
car_dummy =pd.DataFrame()                                                           # Creating an empty data frame
def lr(car):
    # your code to create dummies
    dummies = pd.get_dummies(car, columns=['Vehicle_type'], drop_first=True)
    return dummies#your created variable
car_dummy = lr(car)
print(car_dummy)

    Manufacturer          Model  Sales_in_thousands  _year_resale_value  \
0          Acura        Integra              16.919           16.360000
1          Acura             TL              39.384           19.875000
2          Acura             CL              14.114           18.225000
3          Acura             RL               8.588           29.725000
4           Audi             A4              20.397           22.255000
5           Audi             A6              18.780           23.555000
6           Audi             A8               1.380           39.000000
7            BMW           323i              19.747           18.072975
8            BMW           328i               9.231           28.675000
9            BMW           528i              17.527           36.125000
10         Buick        Century              91.561           12.475000
11         Buick          Regal              39.350           13.740000
12         Buick    Park Avenue              27.851           20.190000
13         Buick        LeSabre              83.257           13.360000
14      Cadillac        DeVille              63.729           22.525000
15      Cadillac        Seville              15.943           27.100000
16      Cadillac       Eldorado               6.536           25.725000
17      Cadillac         Catera              11.185           18.225000
18      Cadillac       Escalade              14.785           18.072975
19     Chevrolet       Cavalier             145.519            9.250000
20     Chevrolet         Malibu             135.126           11.225000
21     Chevrolet         Lumina              24.629           10.310000
22     Chevrolet    Monte Carlo              42.593           11.525000
23     Chevrolet         Camaro              26.402           13.025000
24     Chevrolet       Corvette              17.947           36.225000
25     Chevrolet          Prizm              32.299            9.125000
26     Chevrolet          Metro              21.855            5.160000
27     Chevrolet         Impala             107.995           18.072975
28      Chrysler  Sebring Coupe               7.854           12.360000
29      Chrysler  Sebring Conv.              32.775           14.180000
..           ...            ...                 ...                 ...
126         Saab          5-Sep               9.191           18.072975
127         Saab          3-Sep              12.115           18.072975
128       Saturn             SL              80.620            9.200000
129       Saturn             SC              24.546           10.590000
130       Saturn             SW               5.223           10.790000
131       Saturn             LW               8.472           18.072975
132       Saturn             LS              49.989           18.072975
133       Subaru        Outback              47.107           18.072975
134       Subaru       Forester              33.028           18.072975
135       Toyota        Corolla             142.535           10.025000
136       Toyota          Camry             247.994           13.245000
137       Toyota         Avalon              63.849           18.140000
138       Toyota         Celica              33.269           15.445000
139       Toyota         Tacoma              84.087            9.575000
140       Toyota         Sienna              65.119           18.072975
141       Toyota           RAV4              25.106           13.325000
142       Toyota        4Runner              68.411           19.425000
143       Toyota   Land Cruiser               9.835           34.080000
144   Volkswagen           Golf               9.761           11.425000
145   Volkswagen          Jetta              83.721           13.240000
146   Volkswagen         Passat              51.102           16.725000
147   Volkswagen         Cabrio               9.569           16.575000
148   Volkswagen            GTI               5.596           13.760000
149   Volkswagen         Beetle              49.463           18.072975
150        Volvo            S40              16.957           18.072975
151        Volvo            V40               3.545           18.072975
152        Volvo            S70              15.245           18.072975
153        Volvo            V70              17.531           18.072975
154        Volvo            C70               3.493           18.072975
155        Volvo            S80              18.969           18.072975

     Price_in_thousands  Engine_size  Horsepower  Wheelbase  Width  Length  \
0                21.500          1.8         140      101.2   67.3   172.4
1                28.400          3.2         225      108.1   70.3   192.9
2                29.000          3.2         225      106.9   70.6   192.0
3                42.000          3.5         210      114.6   71.4   196.6
4                23.990          1.8         150      102.6   68.2   178.0
5                33.950          2.8         200      108.7   76.1   192.0
6                62.000          4.2         310      113.0   74.0   198.2
7                26.990          2.5         170      107.3   68.4   176.0
8                33.400          2.8         193      107.3   68.5   176.0
9                38.900          2.8         193      111.4   70.9   188.0
10               21.975          3.1         175      109.0   72.7   194.6
11               25.300          3.8         240      109.0   72.7   196.2
12               31.965          3.8         205      113.8   74.7   206.8
13               27.885          3.8         205      112.2   73.5   200.0
14               39.895          4.6         275      115.3   74.5   207.2
15               44.475          4.6         275      112.2   75.0   201.0
16               39.665          4.6         275      108.0   75.5   200.6
17               31.010          3.0         200      107.4   70.3   194.8
18               46.225          5.7         255      117.5   77.0   201.2
19               13.260          2.2         115      104.1   67.9   180.9
20               16.535          3.1         170      107.0   69.4   190.4
21               18.890          3.1         175      107.5   72.5   200.9
22               19.390          3.4         180      110.5   72.7   197.9
23               24.340          3.8         200      101.1   74.1   193.2
24               45.705          5.7         345      104.5   73.6   179.7
25               13.960          1.8         120       97.1   66.7   174.3
26                9.235          1.0          55       93.1   62.6   149.4
27               18.890          3.4         180      110.5   73.0   200.0
28               19.840          2.5         163      103.7   69.7   190.9
29               24.495          2.5         168      106.0   69.2   193.0
..                  ...          ...         ...        ...    ...     ...
126              33.120          2.3         170      106.4   70.6   189.2
127              26.100          2.0         185      102.6   67.4   182.2
128              10.685          1.9         100      102.4   66.4   176.9
129              12.535          1.9         100      102.4   66.4   180.0
130              14.290          1.9         124      102.4   66.4   176.9
131              18.835          2.2         137      106.5   69.0   190.4
132              15.010          2.2         137      106.5   69.0   190.4
133              22.695          2.5         165      103.5   67.5   185.8
134              20.095          2.5         165       99.4   68.3   175.2
135              13.108          1.8         120       97.0   66.7   174.0
136              17.518          2.2         133      105.2   70.1   188.5
137              25.545          3.0         210      107.1   71.7   191.9
138              16.875          1.8         140      102.4   68.3   170.5
139              11.528          2.4         142      103.3   66.5   178.7
140              22.368          3.0         194      114.2   73.4   193.5
141              16.888          2.0         127       94.9   66.7   163.8
142              22.288          2.7         150      105.3   66.5   183.3
143              51.728          4.7         230      112.2   76.4   192.5
144              14.900          2.0         115       98.9   68.3   163.3
145              16.700          2.0         115       98.9   68.3   172.3
146              21.200          1.8         150      106.4   68.5   184.1
147              19.990          2.0         115       97.4   66.7   160.4
148              17.500          2.0         115       98.9   68.3   163.3
149              15.900          2.0         115       98.9   67.9   161.1
150              23.400          1.9         160      100.5   67.6   176.6
151              24.400          1.9         160      100.5   67.6   176.6
152              27.500          2.4         168      104.9   69.3   185.9
153              28.800          2.4         168      104.9   69.3   186.2
154              45.500          2.3         236      104.9   71.5   185.7
155              36.000          2.9         201      109.9   72.1   189.8

     Curb_weight  Fuel_capacity  Fuel_efficiency Latest_Launch  \
0          2.639           13.2               28      2/2/2012
1          3.517           17.2               25      6/3/2011
2          3.470           17.2               26      1/4/2012
3          3.850           18.0               22     3/10/2011
4          2.998           16.4               27     10/8/2011
5          3.561           18.5               22      8/9/2011
6          3.902           23.7               21     2/27/2012
7          3.179           16.6               26     6/28/2011
8          3.197           16.6               24     1/29/2012
9          3.472           18.5               25      4/4/2011
10         3.368           17.5               25     11/2/2011
11         3.543           17.5               23      9/3/2011
12         3.778           18.5               24     3/23/2012
13         3.591           17.5               25     7/23/2011
14         3.978           18.5               22     2/23/2012
15         3.758           18.5               22     4/29/2011
16         3.843           19.0               22    11/27/2011
17         3.770           18.0               22     9/28/2011
18         5.572           30.0               15     4/17/2012
19         2.676           14.3               27     8/17/2011
20         3.051           15.0               25     3/19/2012
21         3.330           16.6               25     5/24/2011
22         3.340           17.0               27    12/22/2011
23         3.500           16.8               25    10/23/2011
24         3.210           19.1               22     5/12/2012
25         2.398           13.2               33     9/11/2011
26         1.895           10.3               45     4/13/2012
27         3.389           17.0               27     6/18/2011
28         2.967           15.9               24     1/16/2012
29         3.332           16.0               24    11/17/2011
..           ...            ...              ...           ...
126        3.280           18.5               23     11/9/2012
127        2.990           16.9               23     6/12/2011
128        2.332           12.1               33     8/16/2012
129        2.367           12.1               33     3/16/2011
130        2.452           12.1               31     1/15/2011
131        3.075           13.1               27      8/5/2011
132        2.910           13.1               28     12/4/2012
133        3.415           16.9               25      7/7/2011
134        3.125           15.9               24     9/10/2012
135        2.420           13.2               33     4/11/2011
136        2.998           18.5               27     2/10/2011
137        3.417           18.5               26     8/31/2011
138        2.425           14.5               31    12/29/2012
139        2.580           15.1               23      8/1/2011
140        3.759           20.9               22     10/5/2012
141        2.668           15.3               27      5/6/2011
142        3.440           18.5               23      3/7/2011
143        5.115           25.4               15     9/25/2011
144        2.767           14.5               26     1/24/2011
145        2.853           14.5               26     8/27/2011
146        3.043           16.4               27    10/30/2012
147        3.079           13.7               26     5/31/2011
148        2.762           14.6               26      4/1/2011
149        2.769           14.5               26    10/20/2011
150        2.998           15.8               25     2/18/2011
151        3.042           15.8               25     9/21/2011
152        3.208           17.9               25    11/24/2012
153        3.259           17.9               25     6/25/2011
154        3.601           18.5               23     4/26/2011
155        3.600           21.1               24    11/14/2011

     Power_perf_factor  Vehicle_type_Passenger
0            58.280150                       1
1            91.370778                       1
2            90.345000                       1
3            91.389779                       1
4            62.777639                       1
5            84.565105                       1
6           134.656858                       1
7            71.191207                       1
8            81.877069                       1
9            83.998724                       1
10           71.181451                       1
11           95.636703                       1
12           85.828408                       1
13           84.254526                       1
14          113.854598                       1
15          115.621358                       1
16          113.765874                       1
17           83.483094                       1
18          109.509117                       0
19           46.363347                       1
20           67.314462                       1
21           69.991396                       1
22           72.030917                       1
23           81.118543                       1
24          141.141150                       1
25           48.297636                       1
26           23.276272                       1
27           71.838039                       1
28           65.957184                       1
29           69.521355                       1
..                 ...                     ...
126          73.503778                       1
127          76.023048                       1
128          39.986425                       1
129          40.700072                       1
130          49.865774                       1
131          56.295243                       1
132          54.819728                       1
133          67.765908                       1
134          66.762943                       0
135          47.968972                       1
136          54.372420                       1
137          84.911898                       1
138          56.496030                       1
139          55.297117                       0
140          78.027219                       0
141          51.955109                       0
142          62.355577                       0
143         102.528984                       0
144          46.943877                       1
145          47.638237                       1
146          61.701381                       1
147          48.907372                       1
148          47.946841                       1
149          47.329632                       1
150          66.113057                       1
151          66.498812                       1
152          70.654495                       1
153          71.155978                       1
154         101.623357                       1
155          85.735655                       1

[156 rows x 16 columns]

### Q 4. Drop the below mentioned variables which will not help in prediction of sales.
``` ['Manufacturer', 'Model', 'Latest_Launch'] ```

In [7]:
def lr(car_dummy):
    # your code to drop the useless variables
    car_drop = car_dummy.drop(car_dummy[['Manufacturer', 'Model', 'Latest_Launch']], axis=1)
    return car_drop# your created variable
car_dummy = lr(car_dummy)
print (car_dummy)

     Sales_in_thousands  _year_resale_value  Price_in_thousands  Engine_size  \
0                16.919           16.360000              21.500          1.8
1                39.384           19.875000              28.400          3.2
2                14.114           18.225000              29.000          3.2
3                 8.588           29.725000              42.000          3.5
4                20.397           22.255000              23.990          1.8
5                18.780           23.555000              33.950          2.8
6                 1.380           39.000000              62.000          4.2
7                19.747           18.072975              26.990          2.5
8                 9.231           28.675000              33.400          2.8
9                17.527           36.125000              38.900          2.8
10               91.561           12.475000              21.975          3.1
11               39.350           13.740000              25.300          3.8
12               27.851           20.190000              31.965          3.8
13               83.257           13.360000              27.885          3.8
14               63.729           22.525000              39.895          4.6
15               15.943           27.100000              44.475          4.6
16                6.536           25.725000              39.665          4.6
17               11.185           18.225000              31.010          3.0
18               14.785           18.072975              46.225          5.7
19              145.519            9.250000              13.260          2.2
20              135.126           11.225000              16.535          3.1
21               24.629           10.310000              18.890          3.1
22               42.593           11.525000              19.390          3.4
23               26.402           13.025000              24.340          3.8
24               17.947           36.225000              45.705          5.7
25               32.299            9.125000              13.960          1.8
26               21.855            5.160000               9.235          1.0
27              107.995           18.072975              18.890          3.4
28                7.854           12.360000              19.840          2.5
29               32.775           14.180000              24.495          2.5
..                  ...                 ...                 ...          ...
126               9.191           18.072975              33.120          2.3
127              12.115           18.072975              26.100          2.0
128              80.620            9.200000              10.685          1.9
129              24.546           10.590000              12.535          1.9
130               5.223           10.790000              14.290          1.9
131               8.472           18.072975              18.835          2.2
132              49.989           18.072975              15.010          2.2
133              47.107           18.072975              22.695          2.5
134              33.028           18.072975              20.095          2.5
135             142.535           10.025000              13.108          1.8
136             247.994           13.245000              17.518          2.2
137              63.849           18.140000              25.545          3.0
138              33.269           15.445000              16.875          1.8
139              84.087            9.575000              11.528          2.4
140              65.119           18.072975              22.368          3.0
141              25.106           13.325000              16.888          2.0
142              68.411           19.425000              22.288          2.7
143               9.835           34.080000              51.728          4.7
144               9.761           11.425000              14.900          2.0
145              83.721           13.240000              16.700          2.0
146              51.102           16.725000              21.200          1.8
147               9.569           16.575000              19.990          2.0
148               5.596           13.760000              17.500          2.0
149              49.463           18.072975              15.900          2.0
150              16.957           18.072975              23.400          1.9
151               3.545           18.072975              24.400          1.9
152              15.245           18.072975              27.500          2.4
153              17.531           18.072975              28.800          2.4
154               3.493           18.072975              45.500          2.3
155              18.969           18.072975              36.000          2.9

     Horsepower  Wheelbase  Width  Length  Curb_weight  Fuel_capacity  \
0           140      101.2   67.3   172.4        2.639           13.2
1           225      108.1   70.3   192.9        3.517           17.2
2           225      106.9   70.6   192.0        3.470           17.2
3           210      114.6   71.4   196.6        3.850           18.0
4           150      102.6   68.2   178.0        2.998           16.4
5           200      108.7   76.1   192.0        3.561           18.5
6           310      113.0   74.0   198.2        3.902           23.7
7           170      107.3   68.4   176.0        3.179           16.6
8           193      107.3   68.5   176.0        3.197           16.6
9           193      111.4   70.9   188.0        3.472           18.5
10          175      109.0   72.7   194.6        3.368           17.5
11          240      109.0   72.7   196.2        3.543           17.5
12          205      113.8   74.7   206.8        3.778           18.5
13          205      112.2   73.5   200.0        3.591           17.5
14          275      115.3   74.5   207.2        3.978           18.5
15          275      112.2   75.0   201.0        3.758           18.5
16          275      108.0   75.5   200.6        3.843           19.0
17          200      107.4   70.3   194.8        3.770           18.0
18          255      117.5   77.0   201.2        5.572           30.0
19          115      104.1   67.9   180.9        2.676           14.3
20          170      107.0   69.4   190.4        3.051           15.0
21          175      107.5   72.5   200.9        3.330           16.6
22          180      110.5   72.7   197.9        3.340           17.0
23          200      101.1   74.1   193.2        3.500           16.8
24          345      104.5   73.6   179.7        3.210           19.1
25          120       97.1   66.7   174.3        2.398           13.2
26           55       93.1   62.6   149.4        1.895           10.3
27          180      110.5   73.0   200.0        3.389           17.0
28          163      103.7   69.7   190.9        2.967           15.9
29          168      106.0   69.2   193.0        3.332           16.0
..          ...        ...    ...     ...          ...            ...
126         170      106.4   70.6   189.2        3.280           18.5
127         185      102.6   67.4   182.2        2.990           16.9
128         100      102.4   66.4   176.9        2.332           12.1
129         100      102.4   66.4   180.0        2.367           12.1
130         124      102.4   66.4   176.9        2.452           12.1
131         137      106.5   69.0   190.4        3.075           13.1
132         137      106.5   69.0   190.4        2.910           13.1
133         165      103.5   67.5   185.8        3.415           16.9
134         165       99.4   68.3   175.2        3.125           15.9
135         120       97.0   66.7   174.0        2.420           13.2
136         133      105.2   70.1   188.5        2.998           18.5
137         210      107.1   71.7   191.9        3.417           18.5
138         140      102.4   68.3   170.5        2.425           14.5
139         142      103.3   66.5   178.7        2.580           15.1
140         194      114.2   73.4   193.5        3.759           20.9
141         127       94.9   66.7   163.8        2.668           15.3
142         150      105.3   66.5   183.3        3.440           18.5
143         230      112.2   76.4   192.5        5.115           25.4
144         115       98.9   68.3   163.3        2.767           14.5
145         115       98.9   68.3   172.3        2.853           14.5
146         150      106.4   68.5   184.1        3.043           16.4
147         115       97.4   66.7   160.4        3.079           13.7
148         115       98.9   68.3   163.3        2.762           14.6
149         115       98.9   67.9   161.1        2.769           14.5
150         160      100.5   67.6   176.6        2.998           15.8
151         160      100.5   67.6   176.6        3.042           15.8
152         168      104.9   69.3   185.9        3.208           17.9
153         168      104.9   69.3   186.2        3.259           17.9
154         236      104.9   71.5   185.7        3.601           18.5
155         201      109.9   72.1   189.8        3.600           21.1

     Fuel_efficiency  Power_perf_factor  Vehicle_type_Passenger
0                 28          58.280150                       1
1                 25          91.370778                       1
2                 26          90.345000                       1
3                 22          91.389779                       1
4                 27          62.777639                       1
5                 22          84.565105                       1
6                 21         134.656858                       1
7                 26          71.191207                       1
8                 24          81.877069                       1
9                 25          83.998724                       1
10                25          71.181451                       1
11                23          95.636703                       1
12                24          85.828408                       1
13                25          84.254526                       1
14                22         113.854598                       1
15                22         115.621358                       1
16                22         113.765874                       1
17                22          83.483094                       1
18                15         109.509117                       0
19                27          46.363347                       1
20                25          67.314462                       1
21                25          69.991396                       1
22                27          72.030917                       1
23                25          81.118543                       1
24                22         141.141150                       1
25                33          48.297636                       1
26                45          23.276272                       1
27                27          71.838039                       1
28                24          65.957184                       1
29                24          69.521355                       1
..               ...                ...                     ...
126               23          73.503778                       1
127               23          76.023048                       1
128               33          39.986425                       1
129               33          40.700072                       1
130               31          49.865774                       1
131               27          56.295243                       1
132               28          54.819728                       1
133               25          67.765908                       1
134               24          66.762943                       0
135               33          47.968972                       1
136               27          54.372420                       1
137               26          84.911898                       1
138               31          56.496030                       1
139               23          55.297117                       0
140               22          78.027219                       0
141               27          51.955109                       0
142               23          62.355577                       0
143               15         102.528984                       0
144               26          46.943877                       1
145               26          47.638237                       1
146               27          61.701381                       1
147               26          48.907372                       1
148               26          47.946841                       1
149               26          47.329632                       1
150               25          66.113057                       1
151               25          66.498812                       1
152               25          70.654495                       1
153               25          71.155978                       1
154               23         101.623357                       1
155               24          85.735655                       1

[156 rows x 13 columns]

### Check for outliers using Box Plot

In [8]:
def lr():
    import seaborn as sns
    sns.boxplot(data=car_dummy, orient="h", palette="Set2")
    return None 
lr()

### Q 5. Calculate the Inter quantile range and then drop off outliers for quantile values outside 5 to 95 range.

In [10]:
def lr(car_dummy):
    import pandas as pd
    # Calculate Q1 value using quantile(0.05)
    Q1 = car_dummy.quantile(0.05)
    # Calculate Q3 value using quantile value (0.95)
    Q3 = car_dummy.quantile(0.95)
    # Calculate Inter Quartile Range
    Q_diff = Q3 - Q1
    # create a variable and check for outliers and drop them off
    car_out = car_dummy[~((car_dummy < (Q1 - Q_diff))|(car_dummy > (Q3 + Q_diff))).any(axis=1)]
    print(car_dummy[((car_dummy < (Q1 - Q_diff))|(car_dummy > (Q3 + Q_diff))).any(axis=1)])
    return car_out# your created variable
car_dummy = lr(car_dummy)
print (car_dummy)

     Sales_in_thousands  _year_resale_value  Price_in_thousands  Engine_size  \
125               1.866               67.55               74.97          3.4

     Horsepower  Wheelbase  Width  Length  Curb_weight  Fuel_capacity  \
125         300       92.6   69.5   174.5        3.075           17.0

     Fuel_efficiency  Power_perf_factor  Vehicle_type_Passenger
125               23          135.91471                       1
     Sales_in_thousands  _year_resale_value  Price_in_thousands  Engine_size  \
0                16.919           16.360000              21.500          1.8
1                39.384           19.875000              28.400          3.2
2                14.114           18.225000              29.000          3.2
3                 8.588           29.725000              42.000          3.5
4                20.397           22.255000              23.990          1.8
5                18.780           23.555000              33.950          2.8
6                 1.380           39.000000              62.000          4.2
7                19.747           18.072975              26.990          2.5
8                 9.231           28.675000              33.400          2.8
9                17.527           36.125000              38.900          2.8
10               91.561           12.475000              21.975          3.1
11               39.350           13.740000              25.300          3.8
12               27.851           20.190000              31.965          3.8
13               83.257           13.360000              27.885          3.8
14               63.729           22.525000              39.895          4.6
15               15.943           27.100000              44.475          4.6
16                6.536           25.725000              39.665          4.6
17               11.185           18.225000              31.010          3.0
18               14.785           18.072975              46.225          5.7
19              145.519            9.250000              13.260          2.2
20              135.126           11.225000              16.535          3.1
21               24.629           10.310000              18.890          3.1
22               42.593           11.525000              19.390          3.4
23               26.402           13.025000              24.340          3.8
24               17.947           36.225000              45.705          5.7
25               32.299            9.125000              13.960          1.8
26               21.855            5.160000               9.235          1.0
27              107.995           18.072975              18.890          3.4
28                7.854           12.360000              19.840          2.5
29               32.775           14.180000              24.495          2.5
..                  ...                 ...                 ...          ...
126               9.191           18.072975              33.120          2.3
127              12.115           18.072975              26.100          2.0
128              80.620            9.200000              10.685          1.9
129              24.546           10.590000              12.535          1.9
130               5.223           10.790000              14.290          1.9
131               8.472           18.072975              18.835          2.2
132              49.989           18.072975              15.010          2.2
133              47.107           18.072975              22.695          2.5
134              33.028           18.072975              20.095          2.5
135             142.535           10.025000              13.108          1.8
136             247.994           13.245000              17.518          2.2
137              63.849           18.140000              25.545          3.0
138              33.269           15.445000              16.875          1.8
139              84.087            9.575000              11.528          2.4
140              65.119           18.072975              22.368          3.0
141              25.106           13.325000              16.888          2.0
142              68.411           19.425000              22.288          2.7
143               9.835           34.080000              51.728          4.7
144               9.761           11.425000              14.900          2.0
145              83.721           13.240000              16.700          2.0
146              51.102           16.725000              21.200          1.8
147               9.569           16.575000              19.990          2.0
148               5.596           13.760000              17.500          2.0
149              49.463           18.072975              15.900          2.0
150              16.957           18.072975              23.400          1.9
151               3.545           18.072975              24.400          1.9
152              15.245           18.072975              27.500          2.4
153              17.531           18.072975              28.800          2.4
154               3.493           18.072975              45.500          2.3
155              18.969           18.072975              36.000          2.9

     Horsepower  Wheelbase  Width  Length  Curb_weight  Fuel_capacity  \
0           140      101.2   67.3   172.4        2.639           13.2
1           225      108.1   70.3   192.9        3.517           17.2
2           225      106.9   70.6   192.0        3.470           17.2
3           210      114.6   71.4   196.6        3.850           18.0
4           150      102.6   68.2   178.0        2.998           16.4
5           200      108.7   76.1   192.0        3.561           18.5
6           310      113.0   74.0   198.2        3.902           23.7
7           170      107.3   68.4   176.0        3.179           16.6
8           193      107.3   68.5   176.0        3.197           16.6
9           193      111.4   70.9   188.0        3.472           18.5
10          175      109.0   72.7   194.6        3.368           17.5
11          240      109.0   72.7   196.2        3.543           17.5
12          205      113.8   74.7   206.8        3.778           18.5
13          205      112.2   73.5   200.0        3.591           17.5
14          275      115.3   74.5   207.2        3.978           18.5
15          275      112.2   75.0   201.0        3.758           18.5
16          275      108.0   75.5   200.6        3.843           19.0
17          200      107.4   70.3   194.8        3.770           18.0
18          255      117.5   77.0   201.2        5.572           30.0
19          115      104.1   67.9   180.9        2.676           14.3
20          170      107.0   69.4   190.4        3.051           15.0
21          175      107.5   72.5   200.9        3.330           16.6
22          180      110.5   72.7   197.9        3.340           17.0
23          200      101.1   74.1   193.2        3.500           16.8
24          345      104.5   73.6   179.7        3.210           19.1
25          120       97.1   66.7   174.3        2.398           13.2
26           55       93.1   62.6   149.4        1.895           10.3
27          180      110.5   73.0   200.0        3.389           17.0
28          163      103.7   69.7   190.9        2.967           15.9
29          168      106.0   69.2   193.0        3.332           16.0
..          ...        ...    ...     ...          ...            ...
126         170      106.4   70.6   189.2        3.280           18.5
127         185      102.6   67.4   182.2        2.990           16.9
128         100      102.4   66.4   176.9        2.332           12.1
129         100      102.4   66.4   180.0        2.367           12.1
130         124      102.4   66.4   176.9        2.452           12.1
131         137      106.5   69.0   190.4        3.075           13.1
132         137      106.5   69.0   190.4        2.910           13.1
133         165      103.5   67.5   185.8        3.415           16.9
134         165       99.4   68.3   175.2        3.125           15.9
135         120       97.0   66.7   174.0        2.420           13.2
136         133      105.2   70.1   188.5        2.998           18.5
137         210      107.1   71.7   191.9        3.417           18.5
138         140      102.4   68.3   170.5        2.425           14.5
139         142      103.3   66.5   178.7        2.580           15.1
140         194      114.2   73.4   193.5        3.759           20.9
141         127       94.9   66.7   163.8        2.668           15.3
142         150      105.3   66.5   183.3        3.440           18.5
143         230      112.2   76.4   192.5        5.115           25.4
144         115       98.9   68.3   163.3        2.767           14.5
145         115       98.9   68.3   172.3        2.853           14.5
146         150      106.4   68.5   184.1        3.043           16.4
147         115       97.4   66.7   160.4        3.079           13.7
148         115       98.9   68.3   163.3        2.762           14.6
149         115       98.9   67.9   161.1        2.769           14.5
150         160      100.5   67.6   176.6        2.998           15.8
151         160      100.5   67.6   176.6        3.042           15.8
152         168      104.9   69.3   185.9        3.208           17.9
153         168      104.9   69.3   186.2        3.259           17.9
154         236      104.9   71.5   185.7        3.601           18.5
155         201      109.9   72.1   189.8        3.600           21.1

     Fuel_efficiency  Power_perf_factor  Vehicle_type_Passenger
0                 28          58.280150                       1
1                 25          91.370778                       1
2                 26          90.345000                       1
3                 22          91.389779                       1
4                 27          62.777639                       1
5                 22          84.565105                       1
6                 21         134.656858                       1
7                 26          71.191207                       1
8                 24          81.877069                       1
9                 25          83.998724                       1
10                25          71.181451                       1
11                23          95.636703                       1
12                24          85.828408                       1
13                25          84.254526                       1
14                22         113.854598                       1
15                22         115.621358                       1
16                22         113.765874                       1
17                22          83.483094                       1
18                15         109.509117                       0
19                27          46.363347                       1
20                25          67.314462                       1
21                25          69.991396                       1
22                27          72.030917                       1
23                25          81.118543                       1
24                22         141.141150                       1
25                33          48.297636                       1
26                45          23.276272                       1
27                27          71.838039                       1
28                24          65.957184                       1
29                24          69.521355                       1
..               ...                ...                     ...
126               23          73.503778                       1
127               23          76.023048                       1
128               33          39.986425                       1
129               33          40.700072                       1
130               31          49.865774                       1
131               27          56.295243                       1
132               28          54.819728                       1
133               25          67.765908                       1
134               24          66.762943                       0
135               33          47.968972                       1
136               27          54.372420                       1
137               26          84.911898                       1
138               31          56.496030                       1
139               23          55.297117                       0
140               22          78.027219                       0
141               27          51.955109                       0
142               23          62.355577                       0
143               15         102.528984                       0
144               26          46.943877                       1
145               26          47.638237                       1
146               27          61.701381                       1
147               26          48.907372                       1
148               26          47.946841                       1
149               26          47.329632                       1
150               25          66.113057                       1
151               25          66.498812                       1
152               25          70.654495                       1
153               25          71.155978                       1
154               23         101.623357                       1
155               24          85.735655                       1

[153 rows x 13 columns]

### Q 6. Write code to standardize the variable for model building (return value will be numpy.ndarray).

In [11]:
std = pd.DataFrame()
car_modify = car_dummy.drop(car_dummy[['Sales_in_thousands']], axis=1)
def lr(car_modify):
    from sklearn.preprocessing import StandardScaler
    # code to scale the variables
    scaler = StandardScaler().fit(car_modify)
    # code to transform the variables and standardize them
    st = scaler.transform(car_modify)
    return st# your created variable
std = lr(car_modify)
print(std[1])

[ 0.27327386  0.11785993  0.19066177  0.80317769  0.09061031 -0.22974008
  0.43058435  0.22279342 -0.18213784  0.25468111  0.66912594  0.58489765]

### Q 7. Write a code to create a DataFrame from the standardized value calculated above

### Since the standardized value is a numpy array, add the data to a dataframe with column header as mentioned below in the same order

```['_year_resale_value','Price_in_thousands','Engine_size','Horsepower','Wheelbase','Width','Length','Curb_weight','Fuel_capacity','Fuel_efficiency','Power_perf_factor','Vehicle_type_Passenger'] ```

In [12]:
columns = ['_year_resale_value','Price_in_thousands','Engine_size','Horsepower','Wheelbase','Width','Length','Curb_weight','Fuel_capacity','Fuel_efficiency','Power_perf_factor','Vehicle_type_Passenger']
def lr(std):
    # create a dataframe cars for the numpy array
    cars= pd.DataFrame(std)
    # assign the column headers with the columns mentioned above
    cars.columns = columns
    return cars
cars = lr(std)

### Q 8: Now since all variable may not be of use, please extract only the following variables for training. Preparing X (independent features) for the model building.

```['Price_in_thousands','Engine_size','Wheelbase','Fuel_efficiency','Vehicle_type_Passenger']```

In [13]:
X = pd.DataFrame()
feature_cols = ['Price_in_thousands','Engine_size','Wheelbase','Fuel_efficiency','Vehicle_type_Passenger']                
def lr(cars):
    # assign values of fature_cols to X
    X = cars[feature_cols]
    return X
X = lr(cars)
print(X)

     Price_in_thousands  Engine_size  Wheelbase  Fuel_efficiency  \
0             -0.395734    -1.262710  -0.879545         0.967478
1              0.117860     0.190662   0.090610         0.254681
2              0.162520     0.190662  -0.078112         0.492280
3              1.130160     0.502099   1.004525        -0.458115
4             -0.210393    -1.262710  -0.682702         0.729879
5              0.530968    -0.224587   0.174972        -0.458115
6              2.618837     1.228785   0.779561        -0.695714
7              0.012908    -0.536024  -0.021871         0.492280
8              0.490029    -0.224587  -0.021871         0.017082
9              0.899415    -0.224587   0.554598         0.254681
10            -0.360378     0.086849   0.217152         0.254681
11            -0.112885     0.813535   0.217152        -0.220517
12             0.383217     0.813535   0.892043         0.017082
13             0.079526     0.813535   0.667079         0.254681
14             0.973477     1.644034   1.102946        -0.458115
15             1.314384     1.644034   0.667079        -0.458115
16             0.956357     1.644034   0.076550        -0.458115
17             0.312132    -0.016963  -0.007811        -0.458115
18             1.444643     2.785969   1.412271        -2.121307
19            -1.009069    -0.847461  -0.471799         0.729879
20            -0.765298     0.086849  -0.064052         0.254681
21            -0.590006     0.086849   0.006249         0.254681
22            -0.552789     0.398286   0.428056         0.729879
23            -0.184342     0.813535  -0.893605         0.254681
24             1.405938     2.785969  -0.415558        -0.458115
25            -0.956965    -1.262710  -1.456014         2.155472
26            -1.308665    -2.093208  -2.018423         5.006658
27            -0.590006     0.398286   0.428056         0.729879
28            -0.519294    -0.536024  -0.528039         0.017082
29            -0.172804    -0.536024  -0.204654         0.017082
..                  ...          ...        ...              ...
123            0.469188    -0.743649  -0.148413        -0.220517
124           -0.053338    -1.055086  -0.682702        -0.220517
125           -1.200736    -1.158898  -0.710822         2.155472
126           -1.063033    -1.158898  -0.710822         2.155472
127           -0.932402    -1.158898  -0.710822         1.680274
128           -0.594100    -0.847461  -0.134353         0.729879
129           -0.878809    -0.847461  -0.134353         0.967478
130           -0.306785    -0.536024  -0.556160         0.254681
131           -0.500313    -0.536024  -1.132629         0.017082
132           -1.020383    -1.262710  -1.470074         2.155472
133           -0.692129    -0.847461  -0.317136         0.729879
134           -0.094649    -0.016963  -0.049992         0.492280
135           -0.739990    -1.262710  -0.710822         1.680274
136           -1.137988    -0.639836  -0.584280        -0.220517
137           -0.331125    -0.016963   0.948284        -0.458115
138           -0.739023    -1.055086  -1.765339         0.729879
139           -0.337080    -0.328400  -0.303076        -0.220517
140            1.854253     1.747846   0.667079        -2.121307
141           -0.886997    -1.055086  -1.202930         0.492280
142           -0.753016    -1.055086  -1.202930         0.492280
143           -0.418064    -1.262710  -0.148413         0.729879
144           -0.508129    -1.055086  -1.413833         0.492280
145           -0.693469    -1.055086  -1.202930         0.492280
146           -0.812563    -1.055086  -1.202930         0.492280
147           -0.254309    -1.158898  -0.977966         0.254681
148           -0.179875    -1.158898  -0.977966         0.254681
149            0.050869    -0.639836  -0.359317         0.254681
150            0.147633    -0.639836  -0.359317         0.254681
151            1.390679    -0.743649  -0.359317        -0.220517
152            0.683557    -0.120775   0.343694         0.017082

     Vehicle_type_Passenger
0                  0.584898
1                  0.584898
2                  0.584898
3                  0.584898
4                  0.584898
5                  0.584898
6                  0.584898
7                  0.584898
8                  0.584898
9                  0.584898
10                 0.584898
11                 0.584898
12                 0.584898
13                 0.584898
14                 0.584898
15                 0.584898
16                 0.584898
17                 0.584898
18                -1.709701
19                 0.584898
20                 0.584898
21                 0.584898
22                 0.584898
23                 0.584898
24                 0.584898
25                 0.584898
26                 0.584898
27                 0.584898
28                 0.584898
29                 0.584898
..                      ...
123                0.584898
124                0.584898
125                0.584898
126                0.584898
127                0.584898
128                0.584898
129                0.584898
130                0.584898
131               -1.709701
132                0.584898
133                0.584898
134                0.584898
135                0.584898
136               -1.709701
137               -1.709701
138               -1.709701
139               -1.709701
140               -1.709701
141                0.584898
142                0.584898
143                0.584898
144                0.584898
145                0.584898
146                0.584898
147                0.584898
148                0.584898
149                0.584898
150                0.584898
151                0.584898
152                0.584898

[153 rows x 5 columns]

### Check for the type and shape of X.

In [14]:
def lr():
    print(type(X))
    print(X.shape)
lr()

<class 'pandas.core.frame.DataFrame'>
(153, 5)

### Q 9. Extract y (dependent variable) for model building.
```['Sales_in_thousands']```

In [15]:
y = pd.DataFrame()
def lr(car_dummy):
    # assign the dependent variable to y dataframe
    y = car_dummy['Sales_in_thousands']
    return y#your dataframe
y = lr(car_dummy)
print(y.head())

0    16.919
1    39.384
2    14.114
3     8.588
4    20.397
Name: Sales_in_thousands, dtype: float64

### Check for the type and shape of y.

In [16]:
def lr():
    print(type(y))
    print(y.shape)
lr()

<class 'pandas.core.series.Series'>
(153,)

<a id=section403></a>

### Q 10. Split the value of X and y into train and test datasets.

In [17]:
from sklearn.cross_validation import train_test_split
def lr():
    return train_test_split(X, y, test_size=0.30, random_state=1)# train test split using train test split of 70:30 and random state=1
X_train, X_test, y_train, y_test = lr()

C:\Users\RaviRohanChaitu\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

### Check the shape of  X and y of train dataset.

In [18]:
def lr():
    print(X_train.shape)
    print(y_train.shape)
lr()

(107, 5)
(107,)

### Check the shape of X and y of test dataset.

In [19]:
def lr():
    print(X_test.shape)
    print(y_test.shape)
lr()

(46, 5)
(46,)

<a id=section404></a>

### Q 11. Instantiate Linear regression model using scikit-learn

In [20]:
from sklearn.linear_model import LinearRegression
def lr():
    #initiate the linear regression model to new variable linreg
    linreg = LinearRegression()
    return linreg
linreg = lr()

### Q12. Fit the linear model on X_train and y_train.

In [21]:
def lr():
    # fit the X_train and y_train
    linreg.fit(X_train, y_train)  
    # We don't expect any return from your side.
lr()

<a id=section405></a>

### Q 13. Interpret the Model Coefficients.

In [22]:
def lr():
    # print the linreg.intercet
    print('Intercept:',linreg.intercept_)    
    # print the linreg.coefficient
    print('Coefficients:',linreg.coef_)
lr()

Intercept: 53.783808001487415
Coefficients: [-40.27764022  20.25804809  14.54770262   3.57105067  -0.21113392]

### Q.14 Zip the features to pair the feature names with the coefficients.

In [23]:
def lr():
    # insert Intercept variable with the feature_cols
    feature_cols.insert(0,'Intercept')
    # make a list using linreg.coef
    coef = linreg.coef_.tolist()
    # insert the intercept value respectively
    coef.insert(0, linreg.intercept_)
    # creating a variable to zip feature_cols and their coef.
    eq1 = zip(feature_cols, coef)
    # use for loop the get the value of feature_cols and their coef
    for c1,c2 in eq1:
        print(c1,c2)
        # print the above values
lr()

Intercept 53.783808001487415
Price_in_thousands -40.277640223668385
Engine_size 20.258048089511583
Wheelbase 14.547702615667514
Fuel_efficiency 3.571050672383995
Vehicle_type_Passenger -0.21113392198743686

###  Q 15. Predict the train value using the built model.

In [24]:
y_pred_train = linreg.predict(X_train)
pred= pd.DataFrame(y_pred_train)
def lr():  
    # provide column header as sales for pred
    pred.columns = ['Sales']
    # check for head 
    head = pred.head()
    return head
lr()

       Sales
0  55.489973
1  51.722369
2  65.366249
3  71.800673
4  29.229113

### Q 16. Predict the test value using the built model.

In [25]:
y_pred_test = linreg.predict(X_test)    
pred_test= pd.DataFrame(y_pred_test)
def lr():
    # provide column header as sales for pred
    pred_test.columns=['Sales']
    # check for head 
    head = pred_test.head()
    return head
lr()

       Sales
0  55.863271
1  67.284636
2  19.049519
3  63.397764
4  66.995683

<a id=section406></a>

### Q 17 Evaluate the model using Mean Absolute Error metrics for both train and test.

In [26]:
from sklearn import metrics
def lr():
    # Calculate MAE for train 
    MAE_train = metrics.mean_absolute_error(y_train, y_pred_train)
    # Calculate MAE for test 
    MAE_test = metrics.mean_absolute_error(y_test, y_pred_test)
    # print MAE for train
    print('MAE for training set is {}'.format(MAE_train))
    # print MAE for test
    print('MAE for test set is {}'.format(MAE_test))
lr()

MAE for training set is 40.09793595660545
MAE for test set is 40.02560221481496

### Q 18 Evaluate the model using Mean Squared Error for both train and test.

In [27]:
def lr():
    # Calculate MSE for train 
    MSE_train = metrics.mean_squared_error(y_train, y_pred_train)
    # Calculate MSE for test 
    MSE_test = metrics.mean_squared_error(y_test, y_pred_test)
    # print MSE for train
    print('MSE for training set is {}'.format(MSE_train))
    # print MSE for test
    print('MSE for test set is {}'.format(MSE_test))
lr()

MSE for training set is 3380.4327949862904
MSE for test set is 3049.546894427909

### Q 19 Evaluate the model using Root Mean Squared Error for both train and test.

In [28]:
import numpy as np
def lr():
    # Calculate RMSE for train 
    RMSE_train = np.sqrt( metrics.mean_squared_error(y_train, y_pred_train))
    # Calculate RMSE for test 
    RMSE_test = np.sqrt(metrics.mean_squared_error(y_test, y_pred_test))
    # print RMSE for train
    print('RMSE for training set is {}'.format(RMSE_train))
    # print RMSE for test
    print('RMSE for test set is {}'.format(RMSE_test))
lr()

RMSE for training set is 58.14148944588787
RMSE for test set is 55.22270270846864

### Q 20. Evaluate the model using R-square value for both train and test.

In [29]:
from sklearn.metrics import r2_score
def lr():
    # Calculate r2 for train 
    R2_train = r2_score(y_train, y_pred_train) 
    # Calculate r2 for test 
    R2_test = r2_score(y_test, y_pred_test) 
    # print r2 for train
    print('R2 for training set is {}'.format(R2_train))
    # print r2 for test
    print('R2 for test set is {}'.format(R2_test))
lr()

R2 for training set is 0.23476415605521883
R2 for test set is 0.11026174294665914